# Azure AD Roles to apply to Group
directory_role_assignments = {
  "Application Administrator" = { display_name = "Application Administrator", group_display_name = "Group_Name" }
  "Global Reader"             = { display_name = "Global Reader", group_display_name = "Group_Name" }
}

# Azure Subscription Roles to apply to Group
subscription_role_assignments = {
  "Contributor"               = { role_definition_name = "Contributor", group_display_name = "Group_Name" }
  "User Access Administrator" = { role_definition_name = "User Access Administrator", group_display_name = "Group_Name" }
}

groups = {
  "Group_Name" = {
    display_name = "Group_Name"
    owners = [
      "user_principal_name_01",
      "user_principal_name_01"
    ]
    security_enabled   = true
    assignable_to_role = true
  }
}

user_common = {
  user_principal_name_ext          = "@company.onmicrosoft.com"
  display_name_ext                 = ""
  password                         = "password"
  account_enabled                  = true
  group_display_name               = "group_name"
  group_security_enabled           = true
  share_name                       = "cloudshell"
  storage_prefix                   = "stpre"
  storage_account_tier             = "Standard"
  storage_account_replication_type = "LRS"
}

users = {
  "student01" = { name = "student01", location = "eastus" }
  "student02" = { name = "student02", location = "eastus" }
  "student03" = { name = "student03", location = "eastus" }
  "student04" = { name = "student04", location = "eastus" }
  "student05" = { name = "student05", location = "eastus" }
  "student06" = { name = "student06", location = "eastus" }
  "student07" = { name = "student07", location = "eastus" }
  "student08" = { name = "student08", location = "eastus" }
  "student09" = { name = "student09", location = "eastus" }
  "student10" = { name = "student10", location = "eastus" }
  "student11" = { name = "student11", location = "eastus" }
  "student12" = { name = "student12", location = "eastus" }
  "student13" = { name = "student13", location = "eastus" }
  "student14" = { name = "student14", location = "eastus" }
  "student15" = { name = "student15", location = "eastus" }
  "student16" = { name = "student16", location = "eastus" }
  "student17" = { name = "student17", location = "eastus" }
  "student18" = { name = "student18", location = "eastus" }
  "student19" = { name = "student19", location = "eastus" }
  "student20" = { name = "student20", location = "eastus" }
  "student21" = { name = "student21", location = "eastus" }
  "student22" = { name = "student22", location = "eastus" }
  "student23" = { name = "student23", location = "eastus" }
  "student24" = { name = "student24", location = "eastus" }
  "student25" = { name = "student25", location = "eastus" }
  "student26" = { name = "student26", location = "eastus" }
  "student27" = { name = "student27", location = "eastus" }
  "student28" = { name = "student28", location = "eastus" }
  "student29" = { name = "student29", location = "eastus" }
  "student30" = { name = "student30", location = "eastus" }
  "student31" = { name = "student31", location = "eastus" }
  "student32" = { name = "student32", location = "eastus" }
  "student33" = { name = "student33", location = "eastus" }
  "student34" = { name = "student34", location = "eastus" }
  "student35" = { name = "student35", location = "eastus" }
  "student36" = { name = "student36", location = "eastus" }
  "student37" = { name = "student37", location = "eastus" }
  "student38" = { name = "student38", location = "eastus" }
  "student39" = { name = "student39", location = "eastus" }
  "student40" = { name = "student40", location = "eastus" }
}
